@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    
}

:root{
    --aqua-color: #97FFF4;
    --backgroud-color: #04364A;
}

body{            
    margin: 0;
    padding: 0;
    background-color: var(--backgroud-color);
}

/*  Header Css starts */
header nav{  
    display: flex;               
    background-color:#323946;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    padding: 0 0 10px 0;
}

nav a{                      
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 20px;
}

nav li{                
    display: inline-block;
    margin: 0 20px;
}

.active{           
    color: var(--aqua-color);
}

.logo{          
    font-size: 32px;
    font-weight: bold;
}

.logo span{
    color: var(--aqua-color);
}

.menu-line{           /* Creating Humburger Menu */
    height: 3px;
    width: 20px;
    background-color:white;
    margin-bottom: 3px;
}

.menu{
    cursor: pointer;
    display: none;
}

.showMenu{         /* Show menu using JS */
    display: block;
}

header nav ul a::before{     /* Adding Animation to navigation bar */
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    bottom: -8px;
    background-color: white;
    transition: .3s;
}

header nav ul .active::before{
    background-color: var(--aqua-color);
}

header nav a:hover::before{
    width: 100%;
}
/*  Header Css ends */


/* Home page css starts */
.home-page{               
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    padding: 0 5% 0;
}

.img-box{             
    width:560px;
    height: 560px;
    position: relative;
    margin-left: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-box img{                 
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 10px 10px 50px white;
    height: 380px;
    width: 380px;
    position: absolute;
}

.text-box{       
    width: 60%;
    margin: 0 0 0 80px;
    text-align:start;
    position: relative;
    color: white; 
}

.text-box .skills{
    color: var(--aqua-color);
}

.text-box h1{
    font-size: 32px;
    font-weight: 300px;
}

.text-box .icon-box{     
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.text-box .icon-box a i{
    border-radius: 50%;
    border: 2px solid white ;
    padding: 6px;
    font-size: 25px;
    cursor: pointer;
    transition: .5s;
    color: white;
}

.text-box .icon-box i:hover{    
    background-color: white;
    color: var(--backgroud-color);
}

.text-box button{          
    position: relative;    
    width: 150px;
    height: 30px;
    background: none;
    border: 2px solid white;
    border-radius:5px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    color: white;
}

.text-box .downloadBtn{     
    color: black;
    margin-right: 15px;
}


.text-box button::before{  /* Animating Buttons */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    transition: .5s;
    z-index: -1;
}

.text-box .downloadBtn::before{    /* Animating Download Buttons */
    right: 0;
}

.text-box .downloadBtn:hover{
    color: rgb(255, 255, 255);
}

.text-box .downloadBtn:hover::before{
    left: 0;
    width: 0;
}
/* Home page css ends */


/* About page css starts here */
.about-page{               
    min-height: 100vh;
    background-color: #323946;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0;
    gap: 2rem;
}

.about-img img{                
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 10px 10px 50px white;
    width: 380px;
}

.about-content{        
    width: 60%;
    margin: 0px 0px 0px 30px;
    text-align:start;
    position: relative;
    color: white; 
}

.heading{                
    font-size: 2.5rem;
} 

.about-page h2{
    text-align: left;
    line-height: 0.3;
}

.about-page h2 span{
    color: var(--aqua-color);
}

.about-page h3{
    font-size: 1.8rem;
}

.about-page p{
    font-size: 1rem;
    margin: 2rem 0 3rem;
}
/* About page css ends */


/* Servive page starts */
.service-page{             
    min-height: 100vh;
    background-color: var(--backgroud-color);
    padding: 0 5% 0;
}

.service-container{          /* Project container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.service-container .service-box{
    flex: 1 1 15rem;
    background-color: #2d3749;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #7f8796;
    transition: .5s ease;
}

.service-container .service-box:hover{     
    border-color: var(--aqua-color) ;
    transform: scale(1.05);
}

.service-page h2{      
    margin-bottom: 5rem;
    text-align: center;
    color: white;
}

.service-page .heading span{
    color: var(--aqua-color);
}

.service-box h3{
    color: white;
}

.service-box p{
    color: white;
    font-weight: 150px;
}

.service-container .bx-code-alt , .bxl-sketch , .bx-news{       /* styling icons */
    color: var(--aqua-color);
    font-size: 3rem;
}
/* Servive page ends */


/* Project page starts */  
.project-page{               
    min-height: 100vh;
    background-color: #323946;
    padding: 0 5% 0;
}

.project-page h2{        
    margin-bottom: 5rem;
    padding-top: 2rem;
    text-align: center;
    color: white;
}

.project-page .heading span{
    color: var(--aqua-color);
}

.project-container{         
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 0 0 4rem 0;
}

.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--aqua-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer{       
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--backgroud-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer{
    transform: translateY(0%);

}

.project-layer h4{        
    font-size: 2rem;
    color: white;
}

.project-layer p{
    font-size: 1.1rem;
    margin: .3rem 0 1rem;
    color: white;
}

.project-layer a{         
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 50%;
}

.project-layer a i{
    font-size: 1.5rem;
    color:black;
}
/* Project page ends */ 

/* Contact page starts */ 
.contact-page{
    min-height: 100vh;
    background-color: var(--backgroud-color);
    padding: 0 5% 0;
}

.contact-page h2{      
    margin-bottom: 3rem;
    text-align: center;
    color: white;
}

.contact-page h2 span{
    color: var(--aqua-color);
}

.contact-page form{       
    max-width: 55rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-page form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-page form .input-box input,     
.contact-page form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background: #2e3441;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact-page form .input-box input{
    width: 49%;
}

.contact-page form textarea{
    resize: none;
}

.contact-page form .btn-3{
    margin-top: 2rem;
    cursor: pointer;
}
/* Contact page css ends */ 

/* Footer css starts */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background-color:#323946;
}

.footer p{
    color: white;
    font-size: 1rem;
}

.footer .footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: #05688f;
    border-radius: 0.5rem;
    transition: .5s ease;
}

.footer-icontop a:hover{
    box-shadow: 0 0 1rem var(--aqua-color);
}

.footer .footer-icontop a i{
    font-size: 1.2rem;
    color: white;
}
/* Footer css ends */

/* Animating Read More Button */
.custom-btn {        
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
}
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
  .btn-3:before {
    height: 0%;
    width: 2px;
}
  .btn-3:after {
    width: 0%;
    height: 2px;
}
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
}
  .btn-3:hover:before {
    height: 100%;
}
  .btn-3:hover:after {
    width: 100%;
}
  .btn-3 span:hover{
     color: var(--aqua-color);
}
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--aqua-color);
    transition: all 0.3s ease;
}
  .btn-3 span:before {
    width: 2px;
    height: 0%;
}
  .btn-3 span:after {
    width: 0%;
    height: 2px;
}
  .btn-3 span:hover:before {
    height: 100%;
}
  .btn-3 span:hover:after {
    width: 100%;
}


/* Page loading Animation starts */
@keyframes laodAnimation {
    100%{
        width: 0;
    }
}

header::before,        
.text-box::before,
.img-box::before{
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    right: 0;
    bottom:0;
    background-color: var(--backgroud-color);
    transition: .5s;
    z-index: 2;
    animation: laodAnimation 1s ease forwards;
}

.text-box::before{
    animation-delay:1s;
}

.img-box::before{
    animation-delay:2s;
}
/* Page loading Animation ends */


/* Media Query for make responsive  */
@media screen and (max-width: 1200px){
    header nav{  
        padding: 0 0 0 25px;
    }

    .home-page .text-box h1{
        font-size: 35px;
    }

    .home-page .text-box p{
        font-size: 18px;
    }

    .about-content h2{
        font-size: 40px;
    }

    .about-content h3{
        font-size: 30px;
    }

    .about-content p{
        font-size: 16px;
    }

    .service-page h2{
        font-size: 40px;
    }

    .service-container .service-box h3{
        font-size: 2rem;
    }

    .service-container .service-box p{
        font-size: 1.2rem;
    }

    .project-page h2{
        font-size: 40px;
    }

    .project-container .project-box .project-layer h4{
        font-size: 2rem;
    }

    .project-container .project-box .project-layer p{
        font-size: 1.2rem;
    }

    .contact-page h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px){
    header nav{  
        padding: 0 0 10px 0;
    }

    nav li{                
        margin: 0 10px;
    }
    
    .home-page{               
        padding: 0 10px 0;
    }

    .text-box h1{
        font-size: 30px;
        font-weight: 280px;
    }

    .text-box p{
        font-size: 15px;
    }

    .home-page img{
        height: 340px;
        width: 340px; ;
    }

    .about-content h2{
        font-size: 35px;
    } 

    .about-content h3{
        font-size: 25px;
    }

    .about-content p{
        font-size: 14px;
    }

    .about-page img{
        height: 340px;
        width: 340px; ;
    }

    .service-page h2{
        font-size: 35px;
    }

    .service-container .service-box .bx-code-alt , .bxl-sketch , .bx-news{      
        font-size: 3.5rem;
    }

    .service-page h3{
        font-size: 28px;
    }

    .service-container .service-box p{
        padding-bottom: 15px;
    }

    .project-page h2{
        font-size: 35px;
    }

    .project-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 4rem 45px;
    }

    .project-container .project-box{
        width: 350px;
        height: 350px;
    }
    
    .contact-page h2{
        font-size: 35px;
    }

}

@media screen and (max-width: 900px){
    header nav{                      
        flex-direction: column;
        padding-bottom: 20px;          
    }

    nav li{
        display: block;
        padding: 10px 0;
    }

    nav ul{
        text-align: center;
        padding: 0;
        display: none;
    }

    #name{
        align-self: flex-start;       /* Moving Name to left corner */
        margin: 10px 0px 0px 30px;
    }

    .menu{             /* align the Menu icon*/
        display: block; 
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .home-page .text-box{         
        margin: 0 0 0 20px;
    }

    .about-page{
        padding: 0 3% 0;
    }

    .about-content h2{
        font-size: 30px;
    }

    .about-content h3{
        font-size: 20px;
    }

    .about-content p{
        font-size: 13px;
        margin: 2rem 0 2rem;
    }

    .service-container .service-box p{
        font-size: 15px;
    }

    .project-container{
        padding: 0 0 4rem 30px;
    }
}

@media screen and (max-width: 810px){
    .project-container{
        padding: 0 0 4rem 0;
    }
}

@media screen and (max-width: 800px){
    .home-page{                  
        flex-direction: column-reverse;
    }

    .home-page .text-box{         
        margin: 15px 0 0 20px;
        width: 90%;
        padding-bottom: 4rem;
    }

    .home-page .text-box h1{
        font-size: 35px;
    }

    .home-page .img-box{
        width:400px;
        height: 400px;
        padding-top: 5rem;
    }

    .home-page .icon-box{
        margin-top: 35px;
    }

    .home-page .btn{     
        margin-top: 35px;
    }

    .about-page{             
        flex-direction: column;
    }

    .about-page .about-img{
        padding-top: 3rem;
    }

    .about-page .about-content{
        margin: 15px 0 0 10px;
        width: 90%;
        padding-bottom: 4rem;
    }

    .about-page .about-content h2{
        font-size: 40px;
    }

    .about-page .about-content h3{
        font-size: 28px;
    }

    .about-page .about-content p{
        font-size: 15px;
    }

    .project-page{
        padding: 25px;
    }
}

@media screen and (max-width: 750px){
    .home-page .text-box h1{
        font-size: 30px;
    }

    .home-page .text-box p{
        font-size: 15px;
    }

    .about-page .about-img{
        padding-top: 2rem;
    }

    .about-page .about-content h2{
        font-size: 35px;
    }

    .about-page .about-content h3{
        font-size: 25px;
    }

    .about-page .about-content p{
        font-size: 14px;
    }

    .service-page .service-container .service-box{
        padding: 2rem 1rem 3rem;
    }

    .service-page .service-container .service-box h3{
        font-size: 1.5rem;
    }

    .service-page .service-container .service-box p{
        font-size: 1rem;
    }

    .project-page .project-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 4rem 0;
    }

    .project-page .project-container .project-box{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box img{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box .project-layer{
        width: 100%;
        padding: 0;
    }

    .project-page .project-container .project-box .project-layer h4{
        font-size: 1.5rem;
    }

    .project-page .project-container .project-box .project-layer p{
        font-size: 1rem;
    }

    .contact-page form{
        max-width: 100%;
    }

    .contact-page form .input-box input,
    .contact-page form textarea{
        width: 100%;
    }

    .contact-page form .input-box input{
        width: 100%;
    }

    .contact-page form .btn-3{
        margin-top: 2rem;
    }
}


@media screen and (max-width: 600px){
    .home-page .text-box h1{
        font-size: 30px;
    }

    .home-page .text-box p{
        font-size: 15px;
    }

    .about-page .about-img{
        padding-top: 2rem;
    }

    .about-page .about-content h2{
        font-size: 35px;
    }

    .about-page .about-content h3{
        font-size: 25px;
    }

    .about-page .about-content p{
        font-size: 14px;
    }

    .service-page .service-container .service-box{
        padding: 2rem 1rem 3rem;
    }

    .service-page .service-container .service-box h3{
        font-size: 1.5rem;
    }

    .service-page .service-container .service-box p{
        font-size: 1rem;
    }

    .project-page .project-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 4rem 0;
    }

    .project-page .project-container .project-box{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box img{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box .project-layer h4{
        font-size: 1.5rem;
    }

    .project-page .project-container .project-box .project-layer p{
        font-size: 1rem;
    }

    .contact-page form{
        max-width: 100%;
    }

    .contact-page form .input-box input,
    .contact-page form textarea{
        width: 100%;
    }

    .contact-page form .input-box input{
        width: 100%;
    }

    .contact-page form .btn-3{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 400px){
    .home-page .text-box,
    .home-page .img-box{
        margin: 15px 10px 0 10px;
    }
    
    .home-page .text-box h1{
        font-size: 25px;
    }

    .home-page .text-box p{
        font-size: 14px;
    }
    
    .about-page .about-img{
        padding-top: 2rem;
    }

    .about-page .about-content h2{
        font-size: 30px;
    }

    .about-page .about-content h3{
        font-size: 20px;
    }

    .about-page .about-content p{
        font-size: 13px;
    }

    .service-page .service-container .service-box{
        padding: 2rem 1rem 3rem;
    }

    .service-page .service-container .service-box h3{
        font-size: 1.5rem;
    }

    .service-page .service-container .service-box p{
        font-size: 1rem;
    }

    .project-page .project-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 4rem 0;
    }

    .project-page .project-container .project-box{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box img{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box .project-layer h4{
        font-size: 1.5rem;
    }

    .project-page .project-container .project-box .project-layer p{
        font-size: 1rem;
    }

    .contact-page form{
        max-width: 100%;
    }

    .contact-page form .input-box input,
    .contact-page form textarea{
        width: 100%;
    }

    .contact-page form .input-box input{
        width: 100%;
    }

    .contact-page form .btn-3{
        margin-top: 2rem;
    }

    .footer{
        padding: 1rem 5%;
    }

    .footer p{
        font-size: 13px;
    }

    .footer .footer-icontop a i{
        font-size: 1rem;
    }

}

@media screen and (max-width: 370px){
    .text-box .icon-box{      /* Reduce space between social media icons*/
        width: 220px;
    }

    .footer p{
        font-size: 12px;
    }

    .footer .footer-icontop a i{
        font-size: 12px;
    }

}

@media screen and (max-width: 320px){
    .home-page .text-box h1{
        font-size: 20px;
    }

    .home-page .text-box p{
        font-size: 13px;
    }

    .home-page img{
        height: 280px;
        width: 280px; 
    }

    .text-box .icon-box{     
        width: 220px;
    }

    .about-page .about-img{
        padding-top: 2rem;
    }

    .about-page img{
        height: 280px;
        width: 280px; ;
    }

    .about-page .about-content h2{
        font-size: 25px;
    }

    .about-page .about-content h3{
        font-size: 18px;
    }

    .about-page .about-content p{
        font-size: 12px;
    }

    .service-page .service-container .service-box{
        padding: 2rem 1rem 3rem;
    }

    .service-page .service-container .service-box h3{
        font-size: 1.5rem;
    }

    .service-page .service-container .service-box p{
        font-size: 1rem;
    }

    .project-page .project-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 4rem 0;
    }

    .project-page .project-container .project-box{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box img{
        width: 100%;
        height: 100%;
    }

    .project-page .project-container .project-box .project-layer h4{
        font-size: 1.5rem;
    }

    .project-page .project-container .project-box .project-layer p{
        font-size: 1rem;
    }

    .contact-page form{
        max-width: 100%;
    }

    .contact-page form .input-box input,
    .contact-page form textarea{
        width: 100%;
    }

    .contact-page form .input-box input{
        width: 100%;
    }

    .contact-page form .btn-3{
        margin-top: 2rem;
    }

    .footer{
        padding: 1rem 5%;
    }

    .footer p{
        font-size: 10px;
    }

    .footer .footer-icontop a{ 
        padding: .5rem;
    }

    .footer .footer-icontop a i{
        font-size: 10px;
    }

}




